In [107]:
import numpy as np

In [4]:
llEmpInfo = [
[7369, 'SMITH', 'CLERK', 7902,'1980-12-17 00:00:00.000',800, None,20],
[7499, 'ALLEN', 'SALESMAN', 7698,'1981-02-20 00:00:00.000',1600, 300,30],
[7521, 'WARD', 'SALESMAN', 7698,'1981-02-22 00:00:00.000',1250, 500,30],
[7566, 'JONES', 'MANAGER', 7839,'1981-04-02 00:00:00.000',2975, None,20],
[7654, 'MARTIN', 'SALESMAN', 7698,'1981-09-28 00:00:00.000',1250, 1400,30],
[7698, 'BLAKE', 'MANAGER', 7839,'1981-05-01 00:00:00.000',2850, None,30],
[7782, 'CLARK', 'MANAGER', 7839,'1981-06-09 00:00:00.000',2450, None,10],
[7788, 'SCOTT', 'ANALYST', 7566,'1982-12-09 00:00:00.000',3000, None,20],
[7839, 'KING', 'PRESIDENT', None,'1981-11-17 00:00:00.000',5000, None,10],
[7844, 'TURNER', 'SALESMAN', 7698,'1981-09-08 00:00:00.000',1500, 0,30],
[7876, 'ADAMS', 'CLERK', 7788,'1983-01-12 00:00:00.000',1100, None,20],
[7900, 'JAMES', 'CLERK', 7698,'1981-12-03 00:00:00.000',950, None,30],
[7902, 'FORD', 'ANALYST', 7566,'1981-12-03 00:00:00.000',3000, None,20],
[7934, 'MILLER', 'CLERK', 7782,'1982-01-23 00:00:00.000',1300, None,10]
]

In [77]:
["insert emp (x, x, x) values (123, 'john', '***')",
"insert emp (x, x, x) values (123, 'john', '***')",
"insert emp (x, x, x) values (123, 'john', '***')",
"insert emp (x, x, x) values (123, 'john', '***')",
"insert emp (x, x, x) values (123, 'john', '***')",]

["insert emp (x, x, x) values (123, 'john', '***')",
 "insert emp (x, x, x) values (123, 'john', '***')",
 "insert emp (x, x, x) values (123, 'john', '***')",
 "insert emp (x, x, x) values (123, 'john', '***')",
 "insert emp (x, x, x) values (123, 'john', '***')"]

In [10]:
def genlcEmpAddCase(llEmpInfo):
    """
    parameter:
        llEmpInfo: 二维员工信息列表
    return：
        lcEmpAddCase: 员工信息Insert语句
    """
    cEmpInfoCaseTmp = "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values \
    ({}, '{}', '{}', {}, '{}', {}, {}, {})"
    lcEmpAddCase = []
    for lEmpInfo in llEmpInfo:
        for i in  range(0,len(lEmpInfo)):
            if lEmpInfo[i] is None:
                lEmpInfo[i] = 'Null'
        cEmpInfoCase = cEmpInfoCaseTmp.format(lEmpInfo[0], lEmpInfo[1], lEmpInfo[2], lEmpInfo[3], lEmpInfo[4], lEmpInfo[5], lEmpInfo[6], lEmpInfo[7])
        lcEmpAddCase.append(cEmpInfoCase)
#         print (cEmpInfoCase)
    return lcEmpAddCase

In [11]:
l = genlcEmpAddCase(llEmpInfo)

In [149]:
import pandas as pd

In [190]:
dfEmpInfo = pd.read_csv('./EMP.csv')
dfEmpInfo.fillna('Null', inplace=True)

In [164]:
ltEmpInfo = list(dfEmpInfo.to_records(index=False))
llEmpInfo = []
for t in ltEmpInfo:
    llEmpInfo.append(list(t))
llEmpInfo

In [37]:
import pandas as pd
def getllEmpInfoFromCsv(cPath):

    dfEmpInfo = pd.read_csv(cPath)
    dfEmpInfo.fillna('Null', inplace=True)
    ltEmpInfo = list(dfEmpInfo.to_records(index=False))
    llEmpInfo = []
    for t in ltEmpInfo:
        llEmpInfo.append(list(t))
    return llEmpInfo

In [15]:
genlcEmpAddCase(getllEmpInfoFromCsv('./EMP01.csv'))

insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7369, 'John', 'CLERK', 7902.0, '00:00.0', 800, Null, 20)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7499, 'ALLEN', 'SALESMAN', 7698.0, '00:00.0', 1600, 300.0, 30)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7521, 'WARD', 'SALESMAN', 7698.0, '00:00.0', 1250, 500.0, 30)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7566, 'JONES', 'MANAGER', 7839.0, '00:00.0', 2975, Null, 20)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7654, 'MARTIN', 'SALESMAN', 7698.0, '00:00.0', 1250, 1400.0, 30)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7698, 'BLAKE', 'MANAGER', 7839.0, '00:00.0', 2850, Null, 30)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7782, 'CLARK', 'MANAGER', 7839.0, '00:00.0', 2450, Null, 10)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7788, 'SCOTT', 'ANALYST', 7566.0, '00:00.0', 3000, Null, 20)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7839, 'KING', 'PRESIDENT', Null, '00:00.0', 5000, Null, 10)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7844, 'TURNER', 'SALESMAN', 7698.0, '00:00.0', 1500, 0.0, 30)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7876, 'ADAMS', 'CLERK', 7788.0, '00:00.0', 1100, Null, 20)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7900, 'JAMES', 'CLERK', 7698.0, '00:00.0', 950, Null, 30)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7902, 'FORD', 'ANALYST', 7566.0, '00:00.0', 3000, Null, 20)
insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7934, 'MILLER', 'CLERK', 7782.0, '00:00.0', 1300, Null, 10)

["insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7369, 'John', 'CLERK', 7902.0, '00:00.0', 800, Null, 20)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7499, 'ALLEN', 'SALESMAN', 7698.0, '00:00.0', 1600, 300.0, 30)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7521, 'WARD', 'SALESMAN', 7698.0, '00:00.0', 1250, 500.0, 30)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7566, 'JONES', 'MANAGER', 7839.0, '00:00.0', 2975, Null, 20)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7654, 'MARTIN', 'SALESMAN', 7698.0, '00:00.0', 1250, 1400.0, 30)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7698, 'BLAKE', 'MANAGER', 7839.0, '00:00.0', 2850, Null, 30)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7782, 'CLARK', 'MANAGER', 7839.0, '00:00.0', 2450, Null, 10)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7788, 'SCOTT', 'ANALYST', 7566.0, '00:00.0', 3000, Null, 20)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7839, 'KING', 'PRESIDENT', Null, '00:00.0', 5000, Null, 10)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7844, 'TURNER', 'SALESMAN', 7698.0, '00:00.0', 1500, 0.0, 30)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7876, 'ADAMS', 'CLERK', 7788.0, '00:00.0', 1100, Null, 20)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7900, 'JAMES', 'CLERK', 7698.0, '00:00.0', 950, Null, 30)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7902, 'FORD', 'ANALYST', 7566.0, '00:00.0', 3000, Null, 20)",
 "insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values     (7934, 'MILLER', 'CLERK', 7782.0, '00:00.0', 1300, Null, 10)"]

In [24]:
import sqlalchemy
import pandas as pd

In [25]:
CONSTR_COMPANY = 'mssql+pymssql://sa:869668Xf@192.168.0.201/company'

In [26]:
ENGINE = sqlalchemy.create_engine(CONSTR_COMPANY)

In [27]:
pd.read_sql('select * from emp', ENGINE)
cQuery = 'select * from emp'
rpResult = ENGINE.execute(cQuery)

In [28]:
rpResult.fetchall()

[(7369, 'SMITH', 'CLERK', '7902', datetime.datetime(1980, 12, 17, 0, 0), 800, None, '20'),
 (7499, 'ALLEN', 'SALESMAN', '7698', datetime.datetime(1981, 2, 20, 0, 0), 1600, '300', '30'),
 (7521, 'WARD', 'SALESMAN', '7698', datetime.datetime(1981, 2, 22, 0, 0), 1250, '500', '30'),
 (7566, 'JONES', 'MANAGER', '7839', datetime.datetime(1981, 4, 2, 0, 0), 2975, None, '20'),
 (7654, 'MARTIN', 'SALESMAN', '7698', datetime.datetime(1981, 9, 28, 0, 0), 1250, '1400', '30'),
 (7698, 'BLAKE', 'MANAGER', '7839', datetime.datetime(1981, 5, 1, 0, 0), 2850, None, '30'),
 (7782, 'CLARK', 'MANAGER', '7839', datetime.datetime(1981, 6, 9, 0, 0), 2450, None, '10'),
 (7788, 'SCOTT', 'ANALYST', '7566', datetime.datetime(1982, 12, 9, 0, 0), 3000, None, '20'),
 (7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000, None, '10'),
 (7844, 'TURNER', 'SALESMAN', '7698', datetime.datetime(1981, 9, 8, 0, 0), 1500, '0', '30'),
 (7876, 'ADAMS', 'CLERK', '7788', datetime.datetime(1983, 1, 12, 0, 0), 1100, None, '20'),
 (7900, 'JAMES', 'CLERK', '7698', datetime.datetime(1981, 12, 3, 0, 0), 950, None, '30'),
 (7902, 'FORD', 'ANALYST', '7566', datetime.datetime(1981, 12, 3, 0, 0), 3000, None, '20'),
 (7934, 'MILLER', 'CLERK', '7782', datetime.datetime(1982, 1, 23, 0, 0), 1300, None, '10')]

In [49]:
# import genlcEmpAddCase(llEmpInfo)
# import getllEmpInfoFromCsv(cPath)
def addEmpInfo(lcEmpAddCase):
    CONSTR_COMPANY = 'mssql+pymssql://sa:869668Xf@192.168.0.201/company'
    ENGINE = sqlalchemy.create_engine(CONSTR_COMPANY)
    for cQuery in lcEmpAddCase:
        ENGINE.execute(cQuery)
    print('insert ' + str(len(lcEmpAddCase)) + ' records')

In [52]:
llEmpInfo = getllEmpInfoFromCsv('./EMP01.csv')
lcEmpAddCase = genlcEmpAddCase(llEmpInfo)
addEmpInfo(lcEmpAddCase)

insert 14 records

In [51]:
ENGINE.execute('delete emp')